.icon-label-container {
  position: absolute;
  inset: 100px 0px 60px 0px;
  display: flex;
  justify-content: space-evenly;  
  flex-direction: column;
  margin-left: 40px;
  align-items: center;
}

.icon-label:hover .contact-icon {
  transform: scaleX(-1);
}

.icon-label {
  display: flex;
  justify-content: left;
  align-self: flex-start;
  margin: 10px 0px;
}

.contact-icon {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  transition: all 0.5s ease;
}

p {
  word-break: break-word;
}

@media (max-width: 500px), (max-height: 500px) {

  .icon-label-container {
    margin-left: 0px;
  }
}