.social-container {
  width: 60%;
  height: 40px;
  margin: 0 auto 25px 18%;
  display: flex;
  justify-content: space-between;
}

.social-icons {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(34, 36, 48);
}

.social-icons:hover {
  background-color: rgb(20, 157, 221);
}
