.social-container {
  width: 50%;
  height: 40px;
  margin: 0 auto 25px 65px;
  display: flex;
  justify-content: space-between;
}

.social-icons {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(34, 36, 48);
}

.social-icons:hover {
  background-color: rgb(20, 157, 221);
}

@media (max-width: 500px), (max-height: 500px) {
  
  .social-container {
    width: 80%;
    margin: 25px auto 50px 25px;
  }

  .social-icons {
    height: 40px;
    width: 40px;
  }

}