.page-container {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.page-container::-webkit-scrollbar {
  display: none;
}

.about-strip {
  background-color: #00234B65;
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10%;
}

.about-h1 {
  font-size: 30px !important;
  color: white;
}

@media (max-width: 500px), (max-height: 500px) {
  
  .about-strip {
    width: 100% !important;
  }

  .about-h1 {
    margin-left: 50px;
  }

}
