.page-container-contact {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: row;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.page-container-contact::-webkit-scrollbar {
  display: none;
}

.contact {
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 4px 0px 4px black;
  background-color: #00234B65;
  width: 40%;
}

.contact-text {

  position: absolute; 
  inset: 0px;

  h1 {
    font-size: 50px;
    margin-bottom: 30px;
    margin-left: 4rem !important;
  }
  p {
    font-size: 1.25rem;
    margin-left: 30px;
    text-shadow: 0px 0px 4px black;
    font-weight: bold;
  }

  transition: all 0.5s ease;
}

.details-container {
  width: auto;
  margin: 10px 20% 10px 10%;
  padding: 20px;
  background-color: white;
  border-radius: 0.75rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.664));

  p {
    margin: 0px;
  }
}

@media (max-width: 500px), (max-height: 500px) {
  .contact {
    width: 100%;
  }
}