.page-container-projects {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.projects {
  height: fit-content;
}

h1 {
  margin: 20px 10% 0 10%;
  font-size: 50px;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  text-shadow: 4px 0px 4px black;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
  gap: 5px; /* Add spacing between elements */
  justify-items: center; /* Horizontally center elements */
  padding: 20px;
}

@media (max-width: 500px), (max-height: 500px) {

  .box-container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

}