.SideBar_main {
  background-color: #040b14;
  height: 100vh;
  width: 100%;
  max-width: 300px;
  left: 0;
  transition: all 0.5 ease;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.page-container::-webkit-scrollbar {
  display: none;
}
