.page-container {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.element-container {
  display: flex;
  flex-direction: column;
  margin: auto auto auto 20vw;
  align-items: flex-start;
}

.title {
  margin-left: 0;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  text-shadow: 4px 4px 4px black;
  transform: color 0.5s ease, text-shadow 0.5s ease;
}

.title-h1 {
  font-size: 50px;
  transform: color 0.5s ease, text-shadow 0.5s ease;
}
